config/essentialpatcher-equipped.json
*.disabled
mods/Essential_1-4-0-3_neoforge_1-21-1.jar
mods/essentialpatcher-1.21.1-NeoForge-1.0.7.jar
config/iris.properties
config/sodium-fingerprint.json
mods/essentialpatcher-1.21.1-NeoForge-1.0.7.jar
mods/essentialpatcher-1.21.1-NeoForge-1.0.7.jar
config/yacl.json5
/config/world_preview
config/trender.json
config/transition.json
config/sodium-mixins.properties
config/sodium-fingerprint.json
config/notenoughcrashes.json
config/neoforge-server.toml
config/necronomicon.json5
config/lithium.properties
/config/jei
/config/jade
config/item_obliterator.json5
config/iris.properties
config/immediatelyfast.json
config/fml.toml
config/crackerslib-client.toml
config/connector.json
config/betterf3.toml
config/entityculling.json
config/essentialpatcher.json
config/fabric/indigo-renderer.properties
mods/essentialpatcher-1.21.1-NeoForge-1.0.7.jar
/fancymenu_data/seamless_world_loading
config/iris.properties
config/essentialpatcher.json
/config/chunky/tasks
/shaderpacks
/custom_spotlights
/.mixin.out
/.pg-native
/.sable
/cache
usernamecache.json
usercache.json
servers.essential.dat
servers.dat_old
servers.dat
/screenshots
/saves
ponders_watched_azimuth.json
ponders_watched.json
/panoptic
/logs
options.txt
/local
/essential
/dynamic-resource-pack-cache
/dynamic-data-pack-cache
/data
/crash-reports
hotbar.nbt
emi.json
/downloads
command_history.txt
instance.png
instance.json
disabledmods/essentialpatcher-1.21.1-NeoForge-1.0.7.jar
cryoneering/resourcepacks/§c1.21.2 Redstone Torch§r.zip
cryoneering/resourcepacks/VanillaTweaks_r587033_MC1.21.x.zip
cryoneering/resourcepacks/.index/redstone-torch-backport.pw.toml
/.cache
/mods/.index
whitelist.json
ops.json
/config/worldedit
command_history.txt
mods/e4mc*.jar
mods/Essential*.jar
*.bak
